.App{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../assets/fondo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Instrucciones{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.tarjeta{
  width: 30vw;
  height: 30vh;
}

.Juego{
  width: 100vw;
  height: 100vh;
}

.Desechos{
  width: 100vw;
  height: 65vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.Botones{
  width: 100vw;
  height: 25vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.boton{
  width: 10vw
}

.Imagen{
  width: 20vw;
  height: 45vh;
}

.desecho-1{
  border: none;
  background-color: transparent;
  background-image: url("../assets/botella-plastica.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.desecho-2{
  border: none;
  background-color: transparent;
  background-image: url("../assets/Papel-Higenico.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}